<div class="container">

  <a href="/" class="navbar-brand hidden-xs">

    <div class="row" style="width:200px; margin-top:-10px;">
      <div class="col-md-12 " style="margin-bottom:-5px; ">
        <i class="fa fa-car "  style="font-size:-23px;" aria-hidden="true"></i> Haugaard's
      </div>
      <div class="col-md-12">
        <span style="font-size:13px;  letter-spacing: 2.3px; "> driving school</span>
      </div>

    </div>
  </a>

  <p class="footerLine"><i class="fa fa-phone fa-sm" aria-hidden="true"></i> +45 22 55 88 99 |
    Haugaard's D. S. @ 2016
  </p>
</div>
