<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">{{user.firstName}} {{user.lastName}}</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <!-- current user photo -->
        <div class="photo-shadow" style="border:1px solid black" ng-show="user.photo" ng-cloak>
          <img class="photo-img" data-ng-src="{{user.photo}}">
        </div>


        <div ng-show="!image.originalImage && !user.photo"
             class="drop-box drop-box-container"
             ngf-drag-over-class="drop-box-dragover"
             ngf-change="readFileImg($files)"
             ngf-drop ngf-select
             ng-model="files"
             ngf-multiple="false"
             ngf-allow-dir="false"
             accept="image/*" ng-cloak>
          <span>Drop image or click to upload profile photo</span>
        </div>
        <img-crop ng-show="image.originalImage && !loading && !user.photo"
                  image="image.originalImage"
                  result-image="image.croppedImage"
                  area-type="circle" ngf-accept="'image/*'"
                  result-image-size="250"
                  change-on-fly="true"
                  class="drop-box-container"
                  ng-cloak>
        </img-crop>
        <!--Save-->
        <md-button ng-show="image.originalImage && !loading && !user.photo"
                    ng-disabled="loading" ng-click="upload()"
                    class="md-raised submit-button md-accent button-center block"
                    ng-cloak>Save Photo</md-button>
        <!--Reset-->
        <md-button ng-show="user.photo" ngf-select
                   ngf-change="readFileImg($files)"
                   ng-disabled="loading" ngf-multiple="false"
                   ngf-allow-dir="false" accept="image/*"
                   class="button-center block"
                   ng-cloak>Change Photo
        </md-button>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

      <h3>Personal info</h3>
      <form class="form-horizontal" role="form" name="form" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.firstName.$valid && submitted,
                                            'has-error': form.firstName.$invalid && submitted }">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="user.firstName"  required>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              First Name is required
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.lastName.$valid && submitted,
                                            'has-error': form.lastName.$invalid && submitted }">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="user.lastName"  required>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              Last Name is required
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Phone Nr.:</label>
          <div class="col-lg-8">

            <input class="form-control" value="" type="tel"
              pattern="^\d{2}\d{2}\d{2}\d{2}$"   name="tel" ng-model="user.telNum" required>

            <p class="help-block" ng-show="form.tel.$error.required && submitted">
            The required format is XXXXXXXX. (22220022)
             </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="user.email"  >
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">City:</label>
          <div class="col-lg-4">
            <input class="form-control" value="" type="text" ng-model="user.address.city" >
          </div>
          <label class="col-lg-2 control-label">Zip Code:</label>
          <div class="col-lg-2">
            <input class="form-control" value="" type="text" ng-model="user.address.zipCode" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Street Name:</label>
          <div class="col-lg-4">
            <input class="form-control" value="" type="text" ng-model="user.address.street" >
          </div>
          <label class="col-lg-2 control-label">Street Nr.:</label>
          <div class="col-lg-2">
            <input class="form-control" value="" type="text" ng-model="user.address.streetNumber" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" value="" type="text" ng-model="user.name" required>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
            Username is required
            </p>
          </div>
        </div>

        <div class="">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button class="btn btn-success" ng-click="updateUser(user)">Update</button>
            <span></span>
            <!-- <input class="btn btn-default" value="Cancel" type="reset"> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
