<div class= "container">
  <div class = "row">
    <div class ="col-sm-12">
      <h1>My Profile</h1>
      <!-- <h1>{{user.firstName}} {{user.lastName}}</h1> -->

      <div class = "col-sm-12" >
      <form class="form" name="form" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
        <label>User Name</label>
        <input type="text" name="name" class="form-control" ng-model="user.name" ng-readonly="!readonly " required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>
      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                          'has-error': form.email.$invalid && submitted }">
        <md-input-container class="md-block" flex-gt-sm>
        <label>Email </label>
        <input type="email" name="email"  class="form-control" ng-model="user.email" ng-readonly="!readonly "  required  mongoose-error/>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.email.$error.required && submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{errors.email }}
        </p>
      </div>
      <div class="form-group" ng-class="{ 'has-success': form.firstName.$valid && submitted,
                                          'has-error': form.firstName.$invalid && submitted }">
      <label>First Name</label>
      <input type="text" name="firstName" class="form-control" ng-model="user.firstName" ng-readonly="!readonly " required/>
      <p class="help-block" ng-show="form.firstName.$error.required && submitted">
        This field is required
      </p>
    </div>
      <div class="form-group" ng-class="{ 'has-success': form.lastName.$valid && submitted,
                                        'has-error': form.lastName.$invalid && submitted }">
    <label>Last Name</label>
    <input type="text" name="lastName" class="form-control" ng-model="user.lastName" ng-readonly="!readonly " required/>
      <p class="help-block" ng-show="form.lastName.$error.required && submitted">
      This field is required
       </p>
     </div>
       <div class="form-group" ng-class="{ 'has-success': form.tel.$valid && submitted,
                                          'has-error': form.tel.$invalid && submitted }">
        <md-input-container class="md-block" >
        <label>Phone Number </label>
        <input type="tel" pattern="^\d{2}-\d{3}-\d{3}$" name="tel" ng-model="user.telNum" ng-readonly="!readonly " required/>
        <p class="help-block" ng-show="form.tel.$error.required && submitted">
        The required format is XX-XXX-XXX. (70-000-000)
         </p>
      </div>
      <div class = "col-sm-12">
        <md-input-container class="md-block" flex-gt-sm>
        <label>City</label>
        <input ng-model="user.address.city" ng-readonly="!readonly " >
      </div>
      <div class = "col-sm-12 ">
        <md-input-container class="md-block" flex-gt-sm >
        <label>ZipCode</label>
        <input ng-model="user.address.zipCode" ng-readonly="!readonly ">
      </div>
      <div class = "col-sm-12" >
        <md-input-container class="md-block" flex-gt-sm>
        <label>Street Name</label>
        <input ng-model="user.address.street" ng-readonly="!readonly ">
      </div>
      <div class = "col-sm-12">
        <md-input-container class="md-block" flex-gt-sm>
        <label>Street Number</label>
        <input ng-model= "user.address.streetNumber" ng-readonly="!readonly ">
      </div>
      <div  ng-show="readonly">
        <button class="btn btn-success" ng-click="updateUser(user)">Update</button>
      </div>
      <div ng-hide="readonly">
        <a class="btn btn-primary" href="#"  ng-click="readonly = !readonly " >Edit</a>
      </div>
      <button class="btn btn-success" ng-click="undoUserEdit()">Cancel</button>
    </div>
  </form>
  </div>
</div>
