<md-list>
<md-subheader class="md-no-sticky">Users</md-subheader>
<md-list-item class="md-3-line" ng-click="null" ng-repeat="user in users">

<div class="md-list-item-text" layout="column">
  <h4 class="media-heading">{{user.name}} {{user.email}}</h4>
</div>
<button class="btn btn-success" ng-click="userEdit(user)">Edit </button>
<button class="btn btn-danger" ng-click="deleteStudent(student)">Delete</button>
</md-list-item>
</md-list>

<button class="btn btn-success" ng-click="createNewUser(user)">Create</button>
