<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container" id="navigationCont">
    <div class="col-md-12 navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="row" style="width:200px; ">
      <a href="/" class="navbar-brand visible-xs">
          <div class="col-md-12 " style=" margin-bottom:-5px;  ">
            <i class="fa fa-car "  style="font-size:-23px;" aria-hidden="true"></i> Haugaard's
          </div>
          <div class="col-md-12">
            <span style="font-size:13px;  letter-spacing: 2.3px; "> driving school</span>
          </div>
      </a>
</div>
    </div>

    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <a href="/" class="navbar-brand hidden-xs">

        <div class="row" style="width:200px; margin-top:-40px;">
          <div class="col-md-12 " style="margin-bottom:-5px; ">
            <i class="fa fa-car "  style="font-size:-23px;" aria-hidden="true"></i> Haugaard's
          </div>
          <div class="col-md-12">
            <span style="font-size:13px;  letter-spacing: 2.3px; "> driving school</span>
          </div>

        </div>
      </a>
      <ul class="nav navbar-nav">
        <li class="row" ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
         <li ng-class="{active: isActive('/Home')}"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
         <li ng-class="{active: isActive('/AboutUs')}"><a href="/AboutUs">About Us</a></li>
         <li ng-class="{active: isActive('/Courses')}"><a href="/course">Courses</a></li>
         <li ng-class="{active: isActive('/Contact')}"><a href="/contact">Contact</a></li>
          <li ng-class="{active: isActive('/courses')}" ng-show="nav.isAdmin()" ui-sref-active="active"><a href="/administration">Administration</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show= "nav.isLoggedIn()"ui-sref-active="active"><a ui-sref="profile">Hi! {{ nav.getCurrentUser().name }}</a></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-calendar"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
