<div class="container" >

  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="tabSettings.selectedIndex">
      <md-tab ng-click="eventClick()">
        <md-tab-label><i class="fa fa-info" aria-hidden="true"></i> - Info</md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h4 class="row">  <p  class="bg-primary titleStyle"><i class="fa fa-info" aria-hidden="true"></i> - {{course.description}} - Edit</p></h4>
            <div class="row">
              <md-content layout-padding>
                <div>
                  <form name="courseForm">
                    <div layout-gt-xs="row">
                      <table>
                        <tr>
                          <td>
                            <label> Start Date: </label>
                          </td>
                          <td>
                            <label>End Date:</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <md-datepicker ng-model="dtStart" md-placeholder="Enter date" ng-change="course.date.start = dt.toISOString()">
                            </md-datepicker>
                          </td>
                          <td>
                            <md-datepicker ng-model="dtEnd" md-placeholder="Enter date" ng-change="course.date.end = dt.toISOString()">
                            </md-datepicker>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <br /><br />
                    <div layout-gt-sm="row">

                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Course Name</label>
                        <input ng-model="course.description" md-maxlength="25">
                        <div ng-messages="userForm.$error" role="alert" multiple>
                          <div ng-message="md-maxlength" class="my-message">
                            That would be a little bit too much...
                          </div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Week Nr.</label>
                        <input ng-model="course.week" placeholder="123" required="requireMessage">
                        <div ng-messages="userForm.$error" role="alert" multiple>
                          <div ng-message="requireMessage" class="my-message">
                            You need to add the week number...
                          </div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Capacity</label>
                        <input ng-model="course.capacity" placeholder="123">
                        <div ng-messages="userForm.$error" role="alert" multiple>
                          <div ng-message="md-maxlength" class="my-message">
                            That would be a little bit too much...
                          </div>
                        </div>
                      </md-input-container>

                    </div>

                  </form>
                  <button class="btn btn-success" ng-click="updateCourse(course)">Update</button>
                  <button class="btn btn-danger" ng-click="undoCourseEdit()">Cancel</button>
                </div>
              </md-content>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab ng-click="eventClick()">
        <md-tab-label><i class="fa fa-pencil-square-o" aria-hidden="true"></i> - Description</md-tab-label>
        <md-tab-body>
          <md-content class="md-padding" class="">
            <h4 class="row"><p  class="bg-primary titleStyle"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> - Description</p></h4>
            <div>
              <div class="col-md-7 md-whiteframe-1dp" style="background:#ffffff;">
                <md-subheader class="md-primary"><strong>Page Preview</strong></md-subheader>
                <div class=" pagePrev">
                  <p ng-bind-html="course.page.text"></p>
                </div>
              </div>
              <br class="visible-xs visile-md" />
              <div class="col-md-5">
                <md-content class="contact-list panel panel-default">

                  <md-content style="margin-left:10px; margin-top:15px;">
                    <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-click="hideEmail = !hideEmail">
                      Show Title
                    </md-checkbox>
                    <!-- <div id="toastParent"></div> -->
                    <!-- <md-button class="md-raised md-primary btnSave" ng-click="savePage(page)">Save</md-button> -->
                  </md-content>

                  <div class="panel-heading">
                    <input class="form-control" ng-model="search.name" placeholder="Search Name.." />
                  </div>

                  <div class="panel-body" id="toastParent">
                    <div class="ui-list-view-bordered" ui-list-view="page in pages | filter:search">
                      <a href="#" style="text-decoration: none!important;" ng-click="getPage(page)">
                        <p class="name" style="padding-left:10px;"><strong> {{ page.name }}</strong></p>
                        <div style="padding-left:10px;" class="email text-muted" ng-if="!hideEmail"> {{ page.title }}</div>
                      </a>
                    </div>
                  </div>

                </md-content>
              </div>

            </div>

          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab ng-click="eventClick()">
        <md-tab-label><i class="fa fa-calendar" aria-hidden="true"></i> - Calendar</md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <div class="row">

              <div class="col-md-6 ">
                <span style="font-size:25px;">  {{calendarTitle}} </span>
              </div>

              <br class="visible-xs visible-sm">

              <div class="col-md-6 text-center">
                <div class="btn-group">
                  <label class="btn btn-primary" data-ng-click="calendarView = 'year'">Year</label>
                  <label class="btn btn-primary" data-ng-click="calendarView = 'month'">Month</label>
                  <label class="btn btn-primary" data-ng-click="calendarView = 'week'">Week</label>
                  <label class="btn btn-primary" data-ng-click="calendarView = 'day'">Day</label>
                </div>
                <md-button class="md-primary md-hue-1" style="color:#337ab7; margin-left:20px;" ng-click="addEventClick()">
                  <strong><i class="fa fa-calendar-plus-o" ></i>&nbsp; Add new Event</strong>
                </md-button>
              </div>

            </div>

            <div style="background:#ffffff;">
              <h4 class="row"><p  class="bg-primary titleStyle"> <i class="fa fa-calendar " aria-hidden="true"></i> - Calendar</p></h4>
              <br />
              <br />
              <mwl-calendar view="calendarView" view-date="calendarDate" events="course.events" view-title="calendarTitle" on-event-click="eventClicked(calendarEvent)" on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                  edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'" delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'" on-edit-event-click="eventEdited(calendarEvent)" on-delete-event-click="eventDeleted(calendarEvent)" cell-is-open="true">
              </mwl-calendar>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab  ng-disabled="tabSettings.locked">
          <md-tab-label ng-show="tabSettings.selectedIndex = 3" >{{tabSettings.label}}</md-tab-label>
        <md-tab-body>
        <md-content label="" class="md-padding">

          <div style="background:#ffffff;">

            <h4 class="row"><p  class="bg-primary titleStyle">Add New Event</p></h4>
            <form name="eventForm">
              <div layout-gt-xs="row">
                <table>
                  <tr>
                    <td>
                      <label> Start Date: </label>
                    </td>
                    <td>
                      <label>End Date:</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <md-datepicker ng-model="newEvent.startsAt" md-placeholder="Enter date">
                      </md-datepicker>
                    </td>
                    <td>
                      <md-datepicker ng-model="newEvent.endsAt" md-placeholder="Enter date">
                      </md-datepicker>
                    </td>
                  </tr>
                </table>
                <div style="margin-left:20px; margin-top:20px;">
                <md-switch  class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="newEvent.deletable">
                  Set Event Deletable
                  </md-switch>
                </div>
              </div>

              <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Title</label>
                  <input ng-model="newEvent.title" md-maxlength="25">
                  <div ng-messages="userForm.$error" role="alert" multiple>
                    <div ng-message="md-maxlength" class="my-message">
                      That would be a little bit too much...
                    </div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Type</label>
                  <md-select ng-model="newEvent.type">
                    <md-option ng-repeat="type in evtypes" value="{{type}}">
                      {{type}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

            </form>
            <button class="btn btn-success" ng-click="addNewEvent(course)">Save</button>
            <button class="btn btn-danger" ng-click="cancelEvent()">Cancel</button>
          </div>


        </md-content>
      </md-tab-body>
      </md-tab>

    </md-tabs>

  </md-content>
</div>
