
<div class= "container">
  <div class = "row">
    <div class ="col-sm-12">
      <h1>Update </h1>
      <h1>{{student.firstName }} {{student.lastName}}</h1>

      <!--
      <div class = "col-sm-12">
        <md-input-container class="md-block" flex-gt-sm>
          <label>User Name</label>
          <input ng-model= "user.name "  readonly = "readonly">
        </div>

        <div class = "col-sm-12">
          <md-input-container class="md-block" flex-gt-sm>
           <label>Email </label>
           <input ng-model= "user.email "  readonly = "readonly">
        </div>
       //-->

        <div class = "col-sm-12">
           <md-input-container class="md-block" >
           <label>First Name </label>
           <input ng-model= "student.firstName ">
        </div>

        <div class = "col-sm-12">
			       <md-input-container class="md-block" >
			       <label>Last Name </label>
			        <input ng-model= "student.lastName ">
        </div>

        <div class = "col-sm-12">
            <md-input-container class="md-block" >
            <label>Phone Number </label>
            <input ng-model= "student.telNum ">
        </div>

        <div class = "col-sm-12">
            <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model= "student.address.city">
        </div>

		    <div class = "col-sm-12 ">
            <md-input-container class="md-block" flex-gt-sm >
            <label>ZipCode</label>
            <input ng-model= "student.address.zipCode">
        </div>

        <div class = "col-sm-12" >
            <md-input-container class="md-block" flex-gt-sm>
            <label>Street Name</label>
            <input ng-model= "student.address.street">
        </div>

        <div class = "col-sm-12">
            <md-input-container class="md-block" flex-gt-sm>
            <label>Street Number</label>
            <input ng-model= "student.address.streetNumber">
        </div>

        <button class="btn btn-success" ng-click="updateStudent(student)">Update</button>
        <button class="btn btn-danger" ng-click="undoStudentEdit()">Cancel</button>

    </div>
  </div>
</div>
