<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">{{currentUser.firstName}} {{currentUser.lastName}}</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-exclamation-triangle"></i>
        To change your <u>Password</u> please click
        <a href="#" ui-sref="settings"><i class="fa fa-hand-o-right"></i><span class=""> Here</span></a>
      </div>
      <h3>Personal info</h3>
      <form class="form-horizontal" role="form" name="form" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.firstName.$valid && submitted,
                                            'has-error': form.firstName.$invalid && submitted }">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="currentUser.firstName"  required>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              First Name is required
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.lastName.$valid && submitted,
                                            'has-error': form.lastName.$invalid && submitted }">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="currentUser.lastName"  required>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              Last Name is required
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Phone Nr.:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="tel"
            pattern="^\d{2}\d{2}\d{2}\d{2}$"  name="tel" ng-model="currentUser.telNum" required>
            <p class="help-block" ng-show="form.tel.$error.required && submitted">
            The required format is XXXXXXXX. (22220022)
             </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text" ng-model="currentUser.email"  >
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">City:</label>
          <div class="col-lg-4">
            <input class="form-control" value="" type="text" ng-model="currentUser.address.city" >
          </div>
          <label class="col-lg-2 control-label">Zip Code:</label>
          <div class="col-lg-2">
            <input class="form-control" value="" type="text" ng-model="currentUser.address.zipCode" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Street Name:</label>
          <div class="col-lg-4">
            <input class="form-control" value="" type="text" ng-model="currentUser.address.street" >
          </div>
          <label class="col-lg-2 control-label">Street Nr.:</label>
          <div class="col-lg-2">
            <input class="form-control" value="" type="text" ng-model="currentUser.address.streetNumber" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" value="" type="text" ng-model="currentUser.name" required>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
            Username is required
            </p>
          </div>
        </div>

        <div class="">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button class="btn btn-success" ng-click="updateUser(currentUser)">Update</button>
            <span></span>
            <!-- <input class="btn btn-default" value="Cancel" type="reset"> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
