
<!-- <ul>
  <li ng-repeat="course in courses" >
    <a  href="#" tooltip="{{course.occupied}}/{{course.capacity}}">
      {{course.description}}
    </a>
    <button class="btn btn-success" ng-click="editCourse(course)">Edit</button>
    <button class="btn btn-danger" ng-click="deleteCourse(course)">Delete</button>
  </li>
</ul> -->
<div class="container" ng-repeat="course in courses">
  {{course.description}} - {{course.occupied}}/{{course.capacity}}
  <p ng-bind-html="course.page.text"></p>

</div>
