  <div class="page-container container sidebar-collapsed">
   <div class="content" style="margin-left:30px;">

     <div ui-view style="min-height:300px;"></div>

   </div>
   <div class="sidebar-menu ">
     <header class="logo row"  style="margin-top:7px; ">


     </header>
     <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
     <div class="menu">
       <ul id="menu" >

         <li id="menu-home" ><a href="#" ui-sref="administration.overview">
            <md-tooltip ng-if="toggle" md-direction="right">Home </md-tooltip>
           <i class="fa fa-home"></i><span class="gap">Home</span></a></li>
         <li id="menu-comunicacao" ><a href="#" ui-sref="administration.course">
           <md-tooltip ng-if="toggle" md-direction="right">Courses </md-tooltip>
           <i class="fa fa-users"></i><span class="gap">Courses</span></a>

         </li>

         <li><a href="#" ui-sref="administration.page">
           <md-tooltip ng-if="toggle" md-direction="right">Content </md-tooltip>
        <i class="fa fa-file-text-o"></i><span class="gap">Content</span></a>

         </li>
         <li><a href="#" ui-sref="administration.user">
           <md-tooltip ng-if="toggle" md-direction="right">Users </md-tooltip>
           <i class="fa fa-user"></i><span class="gap">Users</span></a></li>
    
       </ul>
       <div style="margin-left:14px;">
          <a href="#" class="sidebar-icon"> <span  class="fa fa-bars"></span> </a>
       </div>
     </div>

   </div>
 </div>
</div>
